.ibexa-ai-wrapper {
    display: flex;
    align-items: flex-end;
    width: 100%;

    &__input {
        flex-grow: 1;
        margin-bottom: calculateRem(24px);
    }

    &__btn {
        height: calculateRem(48px);
        margin-left: calculateRem(16px);
        margin-bottom: calculateRem(24px);
    }

    &__suggestions {
        border-radius: calculateRem(8px);
        border: calculateRem(1px) solid $ibexa-color-light;
        padding: calculateRem(8px);
        top: calculateRem(8px);
        background-color: $ibexa-color-white;

        &--hidden {
            height: 0;
            padding: 0;
            border: 0;
            visibility: hidden;
        }
    }

    &__suggestions-header {
        padding: calculateRem(8px);
        color: $ibexa-color-dark-400;
        border-bottom: calculateRem(1px) solid $ibexa-color-light;
    }

    &__suggestions-list {
        list-style: none;
        padding-left: 0;
        margin: 0;
    }

    &__suggestions-list-entry {
        padding: calculateRem(8px);
        border-bottom: calculateRem(1px) solid $ibexa-color-light;

        &:hover {
            color: $ibexa-color-primary;
            cursor: pointer;
        }
    }

    &__suggestions-footer {
        padding: calculateRem(8px);
        color: $ibexa-color-dark-400;
    }

    .ibexa-data-form-field {
        margin-bottom: 0;
    }
}
