.ibexa-ai-component {
    $self: &;

    &__header {
        display: flex;
        align-items: center;
        font-size: $ibexa-text-font-size-medium;
        color: $ibexa-color-dark-400;
    }

    &__header-text {
        flex-grow: 1;
    }

    &__header-actions {
        line-height: 1;

        .ibexa-btn {
            padding: 0;
        }
    }

    &__spinner {
        @include spinner(calculateRem(16px), calculateRem(2px), $ibexa-color-primary);

        display: none;
        margin-right: calculateRem(12px);
    }

    &--disabled {
        #{$self}__icon {
            display: none;
        }

        #{$self}__spinner {
            display: block;
        }
    }
}
